In [1]:
%%capture
import pandas as pd

## 루트 디렉토리 설정

In [2]:
# 작업 디렉토리 설정
path = r'D:\2020 구매기획팀\3. 정기업무\7. 포상 대상자 분석\파일 새로만들기\템플릿 업그레이드'

In [3]:
# 실적 데이터
file_name = r'구매실적.xlsx'

df = pd.read_excel(path + '\\' + file_name , encoding='cp949')
df.head(1)

       팀  담당자  구분          구매금액           절감액          도전목표
0  가공원료팀  강태성  일반  2.682716e+09  4.577772e+07  9.503641e+07

## 구매금액, 절감액, 절감률

In [4]:
if df['절감액'].item == 0:
    df['절감률'] = 0
else:
    df['절감률'] = df['절감액']/(df['구매금액'] + df['절감액'])

## 목표달성률

### 원료 

+ 목표 > 0: 

<blockquote>목표 달성률 = 1+ {(절감액 - 도전목표) / abs(도전목표)}</blockquote>

+ 목표 < 0: 

<blockquote>목표 달성률 = {(절감액 - 도전목표) / abs(도전목표)}</blockquote>

### 설비

+ 설비/외자: 절감률 / 7%
+ 순환: 제외 

### 인테리어

+ 인테리어: 절감률 / 4.5%

In [5]:
df.loc[df['도전목표'] < 0, '목표 달성률'] = (df['절감액'] - df['도전목표']) / abs(df['도전목표'])
df.loc[df['도전목표'] == 0, '목표 달성률'] = df['목표 달성률'] = 0
df.loc[df['도전목표'] > 0, '목표 달성률'] = 1 + \
    ((df['절감액'] - df['도전목표']) / abs(df['도전목표']))
df.loc[df['구분'] == '설비', '목표 달성률'] = df['절감률'] / 0.07
df.loc[df['구분'] == '외자', '목표 달성률'] = df['절감률'] / 0.07 #인수인계는 5.5%였으나, 김재욱 차장님이 7% 라고 하심
df.loc[df['구분'] == '인테리어', '목표 달성률'] = df['절감률'] / 0.045

In [6]:
df['index'] = df.loc[(df['구분']!='순환')].groupby('담당자')['구매금액'].rank(method='first', ascending=False)
df_achieved_rate = df[['팀','담당자', '구분','구매금액','절감액','도전목표','절감률','목표 달성률', 'index']]
df_achieved_rate.loc[(df_achieved_rate['구분']!='순환') & (df_achieved_rate['index'] <2)]

,팀,담당자,구분,구매금액,절감액,도전목표,절감률,목표 달성률,index
0,가공원료팀,강태성,일반,2.682716e+09,4.577772e+07,9.503641e+07,0.016778,0.481686,1.0
1,해외전략구매팀,곽범준,일반,6.789901e+08,-5.756220e+07,5.739443e+08,-0.092629,-0.100292,1.0
2,신선식품팀,권성민,일반,2.212994e+09,-3.149663e+07,1.466790e+08,-0.014438,-0.214732,1.0
3,해외전략구매팀,권태훈,일반,1.617868e+09,3.276159e+07,5.287613e+07,0.019848,0.619591,1.0
4,포장재팀,김동환,일반,2.533150e+09,7.966318e+06,6.700177e+07,0.003135,0.118897,1.0
5,상품소싱팀,김상숙,일반,1.957876e+09,2.514288e+07,8.455880e+06,0.012679,2.973420,1.0
6,간접구매팀,김선아,일반,1.599092e+09,7.785581e+07,2.250000e+07,0.046427,3.460258,1.0
7,신선식품팀,김성훈,일반,2.281641e+09,-3.731666e+07,-1.065748e+08,-0.016627,0.000000,1.0
8,간접구매팀,김웅걸,일반,2.265649e+09,1.569158e+08,4.583636e+07,0.064773,3.423391,1.0
9,해외전략구매팀,김자영,일반,2.963367e+09,8.556732e+07,3.250100e+07,0.028065,2.632759,1.0
10,포장재팀,김종훈,일반,4.503707e+09,2.949346e+08,2.239895e+08,0.061462,1.316734,1.0
11,포장재팀,김태현,일반,1.188133e+09,5.955478e+07,5.333373e+07,0.047732,1.116644,1.0
12,가공원료팀,김현희,일반,3.480270e+09,7.183789e+07,9.505110e+07,0.020224,0.755782,1.0
14,신선식품팀,박민경,일반,1.362323e+09,-1.104640e+07,4.962145e+07,-0.008175,-0.222613,1.0
15,간접구매팀,박주원,일반,4.710209e+08,-2.135666e+07,3.749346e+07,-0.047495,-0.569610,1.0
16,신선식품팀,박한울,일반,5.365184e+09,1.436514e+08,-4.666141e+08,0.026077,0.000000,1.0
17,인테리어팀,박형환,인테리어,2.065400e+08,2.250000e+07,6.734215e+07,0.098236,2.183025,1.0
18,해외전략구매팀,서윤형,일반,2.183149e+09,1.093213e+07,2.503461e+07,0.004983,0.436681,1.0
19,상품소싱팀,송준수,일반,9.903900e+08,-1.142433e+06,1.932780e+07,-0.001155,-0.059108,1.0
20,인테리어팀,신전용,인테리어,2.296000e+07,1.600000e+06,9.928216e+06,0.065147,1.447702,1.0
21,가공원료팀,신화숙,일반,2.696804e+09,8.252024e+07,6.897411e+07,0.029691,1.196394,1.0
22,가공원료팀,안유인,일반,1.972609e+09,6.885082e+06,2.684370e+07,0.003478,0.256488,1.0
23,포장재팀,여슬기한,일반,2.915797e+09,5.617313e+07,3.959276e+07,0.018901,1.418773,1.0
24,인테리어팀,원준호,인테리어,1.751000e+08,2.050000e+07,3.429478e+07,0.104806,2.329016,1.0
25,가공원료팀,이경수,일반,4.161941e+09,2.689363e+07,6.974812e+07,0.006420,0.385582,1.0
26,가공원료팀,이명돈,일반,1.434976e+09,2.821986e+07,3.581238e+07,0.019286,0.787992,1.0
27,포장재팀,이목원,일반,4.850022e+09,6.415046e+07,7.442045e+07,0.013054,0.862000,1.0
28,가공원료팀,이승호,일반,2.405889e+09,4.706654e+07,4.131627e+07,0.019188,1.139177,1.0
29,해외전략구매팀,이우진,일반,4.645353e+09,6.194723e+07,6.112541e+07,0.013160,1.013445,1.0
30,해외전략구매팀,이종원,일반,1.417441e+09,1.360825e+08,-1.061085e+07,0.087596,0.000000,1.0
31,포장재팀,이철영,일반,3.350833e+09,1.314725e+08,8.010577e+07,0.037754,1.641237,1.0
32,신선식품팀,이충현,일반,1.788062e+09,-4.182384e+06,3.947663e+07,-0.002345,-0.105946,1.0
33,인테리어팀,정재훈,인테리어,4.674000e+06,2.640000e+05,2.208354e+07,0.053463,1.188065,1.0
34,해외전략구매팀,조진규,일반,1.014217e+10,7.026134e+08,-7.617314e+07,0.064788,0.000000,1.0
35,가공원료팀,조환,일반,2.933859e+09,1.675609e+07,3.200602e+07,0.005679,0.523529,1.0
36,상품소싱팀,한초빈,일반,3.528377e+09,3.022583e+07,2.042281e+07,0.008494,1.480004,1.0
37,설비팀,김재욱,설비,8.482500e+08,2.315000e+08,NaN,0.214401,3.062878,1.0
38,설비팀,윤해근,설비,5.339470e+08,8.291000e+06,NaN,0.015290,0.218433,1.0
39,설비팀,임성우,설비,6.933000e+08,1.595300e+08,NaN,0.187060,2.672279,1.0
40,설비팀,김재겸,설비,1.576629e+09,2.519210e+08,NaN,0.137771,1.968156,1.0
41,설비팀,이동윤,설비,2.289408e+08,7.330000e+06,NaN,0.031024,0.443196,1.0
43,설비팀,김해랑,설비,1.583080e+08,7.992000e+06,NaN,0.048058,0.686539,1.0
50,설비팀,노데보라,외자,6.517752e+08,3.375681e+07,NaN,0.049242,0.703454,1.0

## 신규아이디어 제안 성과 분석

### 신규절감제안 절감률 
+ 월 구매금액 대비 신규 절감 아이디어 제안 금액의 절감률
+ 신규아이디어 제안서 상정주차 기준으로 포상 기준월 담당자별 절감액 산출

In [7]:
# 신규아이디어 절감액 데이터 import
file_name2 = r'아이디어절감액.xlsx'
df2 = pd.read_excel(path + '\\' + file_name2 , encoding='cp949')
df2.head(1)

   담당자       아이디어절감액
0  이목원  1.908487e+06

In [8]:
df_sum = df.groupby('담당자')['구매금액'].sum()
df_sum = pd.DataFrame(df_sum)
df_sum.head(1)

             구매금액
담당자
강태성  2.682716e+09

In [9]:
df_merge = pd.merge(df_sum, df2, how='inner', on='담당자')
df_merge['제안절감률'] = df_merge['아이디어절감액'] / df_merge['구매금액']
df_idea = df_merge
df_idea.head(5)

   담당자          구매금액       아이디어절감액     제안절감률
0  김동환  2.533150e+09  5.654233e+05  0.000223
1  김선아  1.599092e+09  1.536000e+05  0.000096
2  김웅걸  2.265649e+09  2.038333e+06  0.000900
3  김종훈  4.503707e+09  3.061575e+06  0.000680
4  김태현  1.188133e+09  1.480796e+06  0.001246

### 신규절감제안 달성률
+ 신규 아이디어 제안의 당월 목표 대비 절감 달성률
+ 원가절감 Tracking 목표 및 절감액 

<blockquote>신규절감제안 달성률 = 당월 제안절감액 / 당월 제안목표</blockquote>

In [10]:
# 원가절감 Tracking 데이터 import
file_name3 = r'원가절감Tracking.xlsx'
df3 = pd.read_excel(path + '\\' + file_name3 , encoding='cp949')
df3.head(1)

   담당자         제안목표         제안절감액
0  이종원  179347525.0  1.689757e+08

In [11]:
df3['제안달성률'] = df3['제안절감액'] / df3['제안목표']
df_idea_achieved = df3
df_idea_achieved.head(5)

   담당자          제안목표         제안절감액     제안달성률
0  이종원  1.793475e+08  1.689757e+08  0.942169
1  조진규  1.868229e+08  1.849610e+08  0.990034
2  이우진  1.604770e+08  1.125956e+08  0.701631
3  이승주  1.038791e+09  3.999570e+07  0.038502
4  김자영  6.878958e+07  1.981937e+07  0.288116

## 상품개발 성과 분석

### 상품개발 목표 대비 달성률 & 3개월 매출 평균  

+ 상품개발 달성률: 신규 상품개발의 당월 목표 대비 매출 달성률
<blockquote> 상품개발 달성률 = 당월 매출/ 상품개발목표 </blockquote>

+ 상품개발 매출액 평균: 최근 3개월 매출 평균금액 (단, 1월, 2월은 해당 월 까지의 누계 평균 반영)

In [12]:
# 원가절감 Tracking 데이터 import
file_name4 = r'상품개발실적.xlsx'
df4 = pd.read_excel(path + '\\' + file_name4 , encoding='cp949')
df4.head(1)

   담당자       상품개발목표       당월매출      3개월매출평균
0  김종훈  210000000.0  309030800  292726331.0

In [13]:
def divide_by_zero(a, b):
    if b.item == 0:
        return 0.0
    elif a.item == 0:
        return 0.0
    else:
        return a / b

df4['매출목표달성률'] = divide_by_zero(df4['당월매출'], df4['상품개발목표'])
df4

     담당자        상품개발목표       당월매출       3개월매출평균   매출목표달성률
0    김종훈  2.100000e+08  309030800  2.927263e+08  1.471575
1     조환  1.000000e+08  240284800  2.760147e+08  2.402848
2   여슬기한  3.420000e+07          0  3.000000e+04  0.000000
3    이철영  2.500000e+07   51884995  4.760619e+07  2.075400
4    권태훈  0.000000e+00    9800000  9.050000e+06       inf
5    김성훈  5.000000e+07  286466400  3.031278e+08  5.729328
6    윤해근  1.900000e+08   93402090  2.125926e+08  0.491590
7    이승주  4.540000e+08   34145000  1.758901e+08  0.075209
8    이종원  0.000000e+00   93639000  9.363900e+07       inf
9    김자영  5.000000e+07    3108450  1.908592e+07  0.062169
10   이우진  1.437500e+08  510008523  4.491848e+08  3.547885
11   이충현  1.000000e+08  129759170  1.297592e+08  1.297592
12   박한울  5.000000e+07   28145950  2.814595e+07  0.562919
13   김상숙  8.800093e+07   85005114  6.714410e+07  0.965957
14   이동하  2.667729e+08  295776598  2.182001e+08  1.108721
15   한초빈  1.288262e+08  326640096  2.477335e+08  2.535510
16   강태성  5.100000e+07    9403000  7.115487e+06  0.184373
17   이명돈  6.100000e+07   41244520  3.583539e+07  0.676140
18   이목원  2.000000e+07   61391850  5.650177e+07  3.069593
19   이경수  2.800000e+07   39437500  3.724383e+07  1.408482
20   안유인  1.500000e+07    6268900  4.455767e+06  0.417927
21   이승호  0.000000e+00    6781600  5.483867e+06       inf
22   신화숙  1.250000e+07   10886400  2.662440e+07  0.870912
23   김현희  1.500000e+07          0  7.270000e+06  0.000000